import(lattice, igraph,Matrix)
importFrom(fda,bsplineS,create.bspline.basis,bsplinepen)
importFrom(latticeExtra,layer)
importFrom(quadprog,solve.QP)
importFrom(copula,indepTestSim)
importFrom(copula,indepTest)
importFrom(doParallel,"registerDoParallel")
importFrom(foreach,"foreach","%do%","%dopar%","%:%")
importFrom(stats,spline,qnorm,integrate,pnorm,dnorm,runif,as.formula,approx)
export(vine,paircopula,plot.paircopula,cal.vine)
S3method(plot, paircopula)
importFrom("grDevices", "col2rgb", "colorRampPalette", "rgb")
importFrom("stats", "cor", "quantile")
importFrom("utils", "modifyList")

